.activity {
  width: 100%;
  height: 250px;
  background-color: #fbfbfb;
  border-radius: 10px;
  .activityTitle {
    color: #74798c;
    position: absolute;
    margin: 0;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
  }
}

.recharts-default-legend {
  margin: 0 0 15px 0 !important;
}

.colorLegendText {
  color: #74798c;
  margin-bottom: 10px;
}

.tooltip {
  width: auto;
  height: auto;
  background-color: red;
  text-align: center;
  padding: 5px;
  p {
    color: white;
    font-size: 7px;
  }
}
